/* #layout{
    background-image: url(./img/7777777777777.jpg);
    object-fit: cover;
    background-repeat:no-repeat;
} */

/* <div class="relative flex min-h-screen justify-center items-center bg-gray-900 "> */